/*style.css*/

body {
	background: black;
	color: azure;
}


blockquote {
	font-size: 30px;
	font-style: italic;
    text-align: center;
	margin-top: 60px
}


#author-container {
	font-size: 25px;
	margin: 0px;
	text-align: center;
}

button {
	
	background: azure;
	font-family: monospace;
	width: 40px;
	height: 40px;
	color: black;
	border: 1px solid azure;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 50%;
}

.btn-container {
	margin-top: 50px;
}

h1 {
	text-align: center;
	width: 100%;
	font-size: 50px;
}

/*styling twitter btn*/
.fa-twitter-square {
	padding: 5px;
	border-radius: 5px;
	margin-top: 100px;
	margin-left: 10px
}

/*remove the underlines of links*/
a:visited, a:link, a:active {
	text-decoration: none;
	color: azure;
}





